!!!
%html
  %head
    %title Matchbox
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar.navbar-default
        .container
          .navbar-header
            %button.navbar-toggle{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-left
              %li
                = link_to 'Matchbox', root_path, html_options = {:class =>'navbar-brand'}
            %ul.nav.navbar-nav.navbar-right
              - if current_user
                %li
                  = link_to account_path do
                    #{current_user.spotify_name}
                %li
                  = link_to 'Sign Out', signout_path
              -else
                %li
                  = link_to 'Spotify Signin', '/auth/spotify'
    #main{:role => "main"}
      .container
        .content
          .row
            .col-md-12
              - if notice
                %p.alert.alert-success= notice
              - if alert
                %p.alert.alert-danger= alert
              = yield